html(lang='en')
  head
    title= 'Thank you!'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/stylesheets/reset.css')
    //- MDN BOOTSTRAP
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/mdb.min.css")
    //- CUSTOM FONT
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    link(rel='stylesheet', href='/stylesheets/styles.css')

  body
    main
      div(class='text-center mask rgba-black-strong')
        img(src='/images/mule_cartoon.png' class='main-logo')
        div(class='logo-container align-middle')
          div(class='ml-1 pl-1 pb-1')
            span(class='logo-text-top') Spartan
          div(class='logo-bottom-words pl-1')
            span(class='logo-text-bottom') Mule
      div(class='mask rgba-black-strong')
        div(class='container-fluid pt-5 d-flex justify-content-center h-100')
          div(class='row d-flex justify-content-center text-center')
            div(class='col-md-10 justify-content-center white-text')
              h4(class='pt-2') Oops! Something went wrong! #{error} error.
              p(class='pt-2') #{explanation}
              a(href='/')
                button(class='btn btn-danger') Back to form
    script(type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7388454.js")
