doctype html
html(lang='en')
  head
    title= 'Landing page'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    p landing page
    p fill out below
    form(action="" method="POST")
      label(for="firstname") first name
      input(type="text" name="firstname")
      label(for="lastname") last name
      input(type="text" name="lastname")
      label(for="email") email
      input(type="email" name="email")
      input(type="submit" value="submit")
