html(lang='en')
  head
    title= 'Landing page'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    h1 Thank you for submitting the form!
    h1=firstname
    h1=lastname
    h1=email